body {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}
header {
    display: flex;
    margin: 30px;
}

.left {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right {
    display: flex;
    margin-left: auto;
    width: 15%;
    justify-content: space-evenly;
    align-items: center;
}

.clients {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    width: 80%;
    
}

.clients img {
    height: 70%;
    
}

main {
    display: flex;
    margin: 50px;   
    justify-content: space-evenly;
    height: 74vh;

}

.img-hero {
    width: 55vh;
    
}

.left-section {
    
    display: flex;
    flex-direction: column;
    width: 50%;
    
}


a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    transition: all 0.2s ease-in-out;
}

h1 {
    font-size: 4rem;
    margin-top: 7rem;
    
}
h1:nth-child(1) {
    margin-bottom: 0;
}
h1:nth-child(2) {
    margin-top: 0;
}
button {
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

#register {
    border: 1px solid #000;
    padding: 8px;
    border-radius: 8px;
}

button {
    font-family: 'Epilogue', sans-serif;
    color: #fff;
    padding: 15px;
    background-color: #000;
    border-radius: 15px;
}

p {
    line-height: 1.3rem;
    margin-bottom: 30px;
    color: hsl(0, 0%, 41%);
}
a:hover {
    color: #000;
}

.features {
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    display: none;
    top: 10%;
    left: 6%;
    transition: all 1s ease-in-out;
    padding: 20px;
}

.company {
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    display: none;
    top: 10%;
    left: 19%;
    transition: all 1s ease-in-out;
    padding: 20px;
}

.features > a, .company > a {
    padding: 4px;
}

.features > a > img {
    margin-right: 20px;
}

.features-active, .company-active {
    display: block;
    DISPLAY: flex;
}

button:hover {
    color: #000;
    background-color: #fff;
}



@media screen and (min-width: 1080px) {
    
    
}

